Repository dotnet/maintenance-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Centralize bug bar and deployment. Delete assembly readme.md files.
  README.md
  src/Microsoft.Bcl.HashCode/README.md
  src/Microsoft.IO.Redist/README.md
  src/System.Buffers/README.md
  src/System.Data.SqlClient/README.md
  src/System.Json/README.md
  src/System.Memory/README.md
  src/System.Net.WebSockets.WebSocketProtocol/README.md
Owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl

Delete the rest for sure.
  src/System.Numerics.Vectors/README.md
  src/System.Reflection.DispatchProxy/README.md
  src/System.Runtime.CompilerServices.Unsafe/README.md
  src/System.Threading.Tasks.Extensions/README.md
  src/System.Xml.XPath.XmlDocument/README.md
Owners: @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Apply feedback to replace contributing line with only the license.
  src/Microsoft.Bcl.HashCode/src/PACKAGE.md
  src/Microsoft.IO.Redist/src/PACKAGE.md
  src/System.Buffers/src/PACKAGE.md
  src/System.Data.SqlClient/src/PACKAGE.md
  src/System.Json/src/PACKAGE.md
  src/System.Memory/src/PACKAGE.md
  src/System.Net.WebSockets.WebSocketProtocol/src/PACKAGE.md
  src/System.Numerics.Vectors/src/PACKAGE.md
  src/System.Reflection.DispatchProxy/src/PACKAGE.md
  src/System.Runtime.CompilerServices.Unsafe/src/PACKAGE.md
  src/System.Threading.Tasks.Extensions/src/PACKAGE.md
  src/System.Xml.XPath.XmlDocument/src/PACKAGE.md
Owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Fine tune System.Json
  src/System.Json/src/PACKAGE.md
Owners: none

Fix System.Xml.XPath.XmlDocument AssemblyVersion
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.csproj
Owners: @dotnet/area-system-xml

Workaround for AssemblyInformationalVersion
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.csproj
Owners: @dotnet/area-system-xml

Don't filter files to show in VS
  Directory.Build.targets
Owners: none

Don't filter files to show in VS (#148)
  Directory.Build.targets
Owners: none

Do not modify AssemblyVersion
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.csproj
Owners: @dotnet/area-system-xml

Add support for building with NetCurrent (net8.0)
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/tests/ManualTests/DDBasics/DDDataTypesTest/data.xml
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
  src/System.Data.SqlClient/tests/System.Data.SqlClient.Tests.csproj
Owners: @cheenamalhotra, @david-engel

Fix assembly informational version in System.Xml.XPath.XmlDocument (#146)
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.csproj
Owners: @dotnet/area-system-xml

Stable branding
  eng/Versions.props
Owners: none

Bring missing signing configuration
  eng/Signing.props
Owners: none

Update System.Data.SqlClient.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
Owners: @cheenamalhotra, @david-engel

Add support for building with NetCurrent (net8.0) (#149)
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Data.SqlClient/tests/ManualTests/DDBasics/DDDataTypesTest/data.xml
  src/System.Data.SqlClient/tests/ManualTests/System.Data.SqlClient.ManualTesting.Tests.csproj
  src/System.Data.SqlClient/tests/System.Data.SqlClient.Tests.csproj
Owners: @cheenamalhotra, @david-engel

Stable branding (#151)
  eng/Versions.props
Owners: none

Use predefined dotnet cert prop
  eng/Signing.props
Owners: none

Enable DotNetFinalVersionKind to remove the patch version from packages
  eng/Versions.props
Owners: none

Apply suggestions from code review
  eng/Versions.props
Owners: none

Bring missing signing configuration (#152)
  eng/Signing.props
Owners: none

Delete xmls
  src/Microsoft.Bcl.HashCode/src/Microsoft.Bcl.HashCode.xml
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.xml
  src/System.Buffers/src/System.Buffers.xml
  src/System.Data.SqlClient/src/System.Data.SqlClient.xml
  src/System.Json/src/System.Json.xml
  src/System.Memory/src/System.Memory.xml
  src/System.Net.WebSockets.WebSocketProtocol/src/System.Net.WebSockets.WebSocketProtocol.xml
  src/System.Numerics.Vectors/src/System.Numerics.Vectors.xml
  src/System.Reflection.DispatchProxy/src/System.Reflection.DispatchProxy.xml
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml
  src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.xml
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.xml
Owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Move CLSCompliant to the IsSourceProject PropertyGroup
  Directory.Build.targets
Owners: none

Suppress CS1591 on test projects
  Directory.Build.props
Owners: none

Move IsSourceProject definition to the props file
  Directory.Build.props
  Directory.Build.targets
Owners: none

Remove the problematic DocumentationFile properties
  Directory.Build.targets
Owners: none

Set GenerateDocumentationFile to true for source projects
  Directory.Build.props
Owners: none

Workaround for SqlClient tests projects that do not match IsTestProject condition
  src/System.Data.SqlClient/tests/Directory.Build.props
Owners: @cheenamalhotra, @david-engel

Bring back DocumentationFile to S.R.C.U.
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml
Owners: @dotnet/area-system-runtime-compilerservices

Bring back the xmls
  src/Microsoft.Bcl.HashCode/src/Microsoft.Bcl.HashCode.xml
  src/Microsoft.IO.Redist/src/Microsoft.IO.Redist.xml
  src/System.Buffers/src/System.Buffers.xml
  src/System.Data.SqlClient/src/System.Data.SqlClient.xml
  src/System.Json/src/System.Json.xml
  src/System.Memory/src/System.Memory.xml
  src/System.Net.WebSockets.WebSocketProtocol/src/System.Net.WebSockets.WebSocketProtocol.xml
  src/System.Numerics.Vectors/src/System.Numerics.Vectors.xml
  src/System.Reflection.DispatchProxy/src/System.Reflection.DispatchProxy.xml
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.xml
  src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.xml
  src/System.Xml.XPath.XmlDocument/src/System.Xml.XPath.XmlDocument.xml
Owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Use commited docs files instead and prevent overwriting.
  Directory.Build.props
  Directory.Build.targets
  src/System.Data.SqlClient/tests/Directory.Build.props
Owners: @cheenamalhotra, @david-engel

Update WebSocketProtocol readme
  src/System.Net.WebSockets.WebSocketProtocol/src/PACKAGE.md
Owners: @dotnet/ncl

Address feedback
  Directory.Build.props
  Directory.Build.targets
Owners: none

Fix xml intellisense generation (#154)
  Directory.Build.props
  Directory.Build.targets
  src/System.Data.SqlClient/tests/Directory.Build.props
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
Owners: @cheenamalhotra, @david-engel, @dotnet/area-system-runtime-compilerservices

Enable DotNetFinalVersionKind to remove the patch version and prerelease qualifiers from package names (#153)
  eng/Versions.props
Owners: none

Allow using GenerateDocumentationFile to produce docs from triple slash instead of using the commited file.
  Directory.Build.props
  Directory.Build.targets
Owners: none

TEST (REVERT BEFORE MERGING) - Make System.Buffers use triple slash comments. Edit a type summary in the xml and in triple slash.
  src/System.Buffers/src/System.Buffers.csproj
  src/System.Buffers/src/System.Buffers.xml
  src/System.Buffers/src/System/Buffers/ArrayPool.cs
Owners: @dotnet/area-system-buffers

Revert "TEST (REVERT BEFORE MERGING)"
  src/System.Buffers/src/System.Buffers.csproj
  src/System.Buffers/src/System.Buffers.xml
  src/System.Buffers/src/System/Buffers/ArrayPool.cs
Owners: @dotnet/area-system-buffers

Delete unnecessary target
  Directory.Build.targets
Owners: none

Allow using GenerateDocumentationFile to produce docs from triple slash instead of using the commited xml file (#155)
  Directory.Build.props
  Directory.Build.targets
Owners: none

Revert setting DotNetFinalVersionKind to release
  eng/Versions.props
Owners: none

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/Microsoft.Bcl.HashCode                                                       @dotnet/area-system-runtime
/src/Microsoft.IO.Redist                                                          @dotnet/area-system-io
/src/System.Buffers                                                               @dotnet/area-system-buffers
/src/System.Data.SqlClient                                                        @cheenamalhotra @david-engel
/src/System.Json
/src/System.Memory                                                                @dotnet/area-system-memory
/src/System.Net.WebSockets.WebSocketProtocol                                      @dotnet/ncl
/src/System.Numerics.Vectors                                                      @dotnet/area-system-numerics
/src/System.Reflection.DispatchProxy                                              @dotnet/area-system-reflection
/src/System.Runtime.CompilerServices.Unsafe                                       @dotnet/area-system-runtime-compilerservices
/src/System.Threading.Tasks.Extensions                                            @dotnet/area-system-threading-tasks @stephentoub
/src/System.Xml.XPath.XmlDocument                                                 @dotnet/area-system-xml
