Repository dotnet/maintenance-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/area-system-runtime, @dotnet/area-system-io, @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/ncl, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub, @dotnet/area-system-xml

Revert setting DotNetFinalVersionKind to release (#156)
  eng/Versions.props
Owners: none

Remove Traversal project in favor of the solution file
  Build.proj
  eng/Build.props
  eng/pipelines/maintenance-packages-pr.yml
  eng/pipelines/maintenance-packages.yml
  global.json
Owners: none

Classify test utility projects and add UnsetIsPackableForNonSourceProjects switch
  Directory.Build.props
  Directory.Build.targets
  eng/pipelines/maintenance-packages-pr.yml
  eng/unsetispackable.targets
  src/System.Data.SqlClient/tests/Directory.Build.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Address.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Circle.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Shapes.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Utf8String.csproj
  src/System.Data.SqlClient/tests/System.Data.SqlClient.Tests.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.Servers/TDS.Servers.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS/TDS.csproj
Owners: @cheenamalhotra, @david-engel

Update unsetispackable.targets
  eng/unsetispackable.targets
Owners: none

Add Obsolete attributes to PNSE assemblies
  src/System.Data.SqlClient/src/System.Data.SqlClient.notsupported.cs
Owners: @cheenamalhotra, @david-engel

Update DispatchProxy
  src/System.Reflection.DispatchProxy/src/PACKAGE.md
Owners: @dotnet/area-system-reflection

Update PACKAGE.md with package description and links
  src/System.Threading.Tasks.Extensions/src/PACKAGE.md
Owners: @dotnet/area-system-threading-tasks, @stephentoub

Remove Traversal project in favor of the solution file (#157)
  Build.proj
  Directory.Build.props
  Directory.Build.targets
  eng/Build.props
  eng/pipelines/maintenance-packages-pr.yml
  eng/pipelines/maintenance-packages.yml
  eng/unsetispackable.targets
  global.json
  src/System.Data.SqlClient/tests/Directory.Build.props
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Address/Address.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Circle/Circle.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Shapes/Shapes.csproj
  src/System.Data.SqlClient/tests/ManualTests/SQL/UdtTest/UDTs/Utf8String/Utf8String.csproj
  src/System.Data.SqlClient/tests/System.Data.SqlClient.Tests.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.EndPoint/TDS.EndPoint.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS.Servers/TDS.Servers.csproj
  src/System.Data.SqlClient/tests/Tools/TDS/TDS/TDS.csproj
Owners: @cheenamalhotra, @david-engel

Update PACKAGE.md for System.Buffers
  src/System.Buffers/src/PACKAGE.md
Owners: @dotnet/area-system-buffers

Update PACKAGE.md for System.Memory
  src/System.Memory/src/PACKAGE.md
Owners: @dotnet/area-system-memory

Update PACKAGE.md for System.Numerics.Vectors
  src/System.Numerics.Vectors/src/PACKAGE.md
Owners: @dotnet/area-system-numerics

Update PACKAGE.md for System.Runtime.CompilerServices.Unsafe
  src/System.Runtime.CompilerServices.Unsafe/src/PACKAGE.md
Owners: @dotnet/area-system-runtime-compilerservices

Bump AssemblyVersion for .NET Standard
  src/System.Buffers/src/System.Buffers.csproj
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
  src/System.Memory/src/System.Memory.csproj
  src/System.Numerics.Vectors/src/System.Numerics.Vectors.csproj
  src/System.Reflection.DispatchProxy/src/System.Reflection.DispatchProxy.csproj
  src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.ilproj
  src/System.Threading.Tasks.Extensions/src/System.Threading.Tasks.Extensions.csproj
Owners: @dotnet/area-system-buffers, @cheenamalhotra, @david-engel, @dotnet/area-system-memory, @dotnet/area-system-numerics, @dotnet/area-system-reflection, @dotnet/area-system-runtime-compilerservices, @dotnet/area-system-threading-tasks, @stephentoub

Exclude SqlClient
  src/System.Data.SqlClient/src/System.Data.SqlClient.csproj
Owners: @cheenamalhotra, @david-engel

Apply suggestions from code review
  src/Microsoft.IO.Redist/src/PACKAGE.md
  src/System.Net.WebSockets.WebSocketProtocol/src/PACKAGE.md
  src/System.Reflection.DispatchProxy/src/PACKAGE.md
  src/System.Xml.XPath.XmlDocument/src/PACKAGE.md
Owners: @dotnet/area-system-io, @dotnet/ncl, @dotnet/area-system-reflection, @dotnet/area-system-xml

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/src/Microsoft.Bcl.HashCode                                                       @dotnet/area-system-runtime
/src/Microsoft.IO.Redist                                                          @dotnet/area-system-io
/src/System.Buffers                                                               @dotnet/area-system-buffers
/src/System.Data.SqlClient                                                        @cheenamalhotra @david-engel
/src/System.Json
/src/System.Memory                                                                @dotnet/area-system-memory
/src/System.Net.WebSockets.WebSocketProtocol                                      @dotnet/ncl
/src/System.Numerics.Vectors                                                      @dotnet/area-system-numerics
/src/System.Reflection.DispatchProxy                                              @dotnet/area-system-reflection
/src/System.Runtime.CompilerServices.Unsafe                                       @dotnet/area-system-runtime-compilerservices
/src/System.Threading.Tasks.Extensions                                            @dotnet/area-system-threading-tasks @stephentoub
/src/System.Xml.XPath.XmlDocument                                                 @dotnet/area-system-xml
